.fa-brands,
.fa-solid {
    color: #216CB0;
    font-size: 30px;
    transition: all .8s;
}

.fa-brands:hover,
.fa-solid:hover {
    transition: all .8s;
    color: #3F8CC7;
    transition: all .8s;
}

/* Navbar */

.btn__contact {
    background: #216CB0;
    border-radius: 999px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    margin: auto;
    word-break: break-word;
    border: 0;
    transition: all .8s;
}

.btn__contact:hover {
    background-color: #3F8CC7;
    box-shadow: #3F8CC7 0 15px 20px -10px;
    transition: all .8s;
}

#navbar{
    z-index: 100;
}


@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
  }
  .nav-link:hover{
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}