#conoce-al-team{
  background-color: #216CB0;
  height: 200px;
  border-radius:0 0 30% 45%;
}
#conoce-al-team-text{
  padding: 50px;
}

#linkedin{
  margin: 50px;
}

#quienes-somos-cards{
  background: rgba(33, 108, 176, 0.08);
  border-radius: 60px;
  margin: 10% 3%;
}

#charge{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: #3F8CC7;
}

#name{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #3F8CC7;
}

/* Media query mediana(md)  */
@media (min-width: 768px) {
  #quienes-somos-cards{
    margin: 10% 10%;
  }
  #conoce-al-team{
    border-radius: 0px 0px 280.812px 280.812px;
    transform: rotate(-7.17deg);
    top: -50px;
    position: absolute;
    width: 96%;
    height: 400px;
    z-index: -1;
  }
  #conoce-al-team-text{
    transform: rotate(7.17deg);
    margin-top: 150px;
  }
  #nuestros-circulos{
    margin-top: 350px;
  }
  #linkedin{
    width: 40%;
    margin: 50px 5% 50px 5%;
  }
  #linkedin-container{
    display: flex;
    flex-wrap: wrap;
  }
}

/* Media query extra grande(xl)  */
@media (min-width: 1200px) {
  #quienes-somos-cards{
    margin: 5% 15%;
  }
  #conoce-al-team{
    border-radius: 0px 0px 340.812px 340.812px;
  }
  #nuestros-circulos{
    margin-top: 400px;
  }
  #linkedin{
    width: 29%;
    margin: 50px 2% 50px 2%;
  }
}