#first-section{
  margin-bottom: 20vh;
}

#second-section{
  background-color: #828282;
}

#img-home{
  width: 35%;
  height: auto;
  margin-right: 10%;
  border-radius: 10%;
}

.title-home {
  margin-left: 10%;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  text-align: center;
}

.text-home{
  margin-left: 10%;
  font-size: 24px;
  font-weight: 300;
}



.card {
  height: auto;
}

.card-img-top {
  height: 200px;
  width: 100%;
}

.card-title {
  text-align: center;
}

.card-text {
  text-align: center;
}

#btn-card-home {
  display: flex;
  justify-content: center;
  background-color: #3F8CC7;
  color: #fff;
  border-radius: 50px;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

#btn-card-home:hover {
  background-color: #216CB0;
}