/*  *  */

.black-link {
    color: #000;
}

.black-link:hover {
    font-weight: 800;
    color: #000;
}

.contenido-text {
    font-weight: 300;
}

.contenido-list-title {
    font-weight: 900;
}

/* Introduccion */

#contenido-introduccion {
    background-color: #216cb0;
    border-radius: 0px 0px 340px 340px;
    height: 20em;
}

#contenido-introduccion-title {
    color: #fff;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    padding: 10%;
}

#contenido-introduccion-text {
    color: #fff;
    text-align: center;
    line-height: 30px;

}


/* Proyectos */

#contenido-proyectos {
    background: #3F8CC7;
    margin: 0;
    transform: skew(0, -3deg);
    margin-top: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
}

#contenido-proyectos-container {
    transform: skew(0, 3deg);
}

#contenido-proyectos-title {
    font-size: 40px;
    font-weight: 900;
    line-height: 45px;
    text-align: start;
    word-wrap: break-word;
    text-align: center;
}



#contenido-proyectos-list {
    font-size: 20px;
    line-height: 30px;
    text-align: start;
    line-height: 30px;
    list-style: none;
}

#contenido-proyectos-list li:before {
    content: '●';
}

/* Investigacion */

#contenido-investigacion {
    background: #216CB0;
    margin: 0;
    transform: skew(0, -3deg);
    padding-top: 10%;
    padding-bottom: 10%;
    margin-top: 10%;
}

#contenido-investigacion-container {
    transform: skew(0, 3deg);
}

#contenido-investigacion-title {
    font-size: 40px;
    font-weight: 900;
    line-height: 45px;
    text-align: start;
    word-wrap: break-word;
    text-align: center;
}



#contenido-investigacion-list {
    font-size: 20px;
    line-height: 30px;
    text-align: start;
    line-height: 30px;
    margin-left: 7%;
    list-style: none;
}

#contenido-investigacion-list li:before {
    content: '●';
}


/* Adultos Mayores */

#contenido-mayores {
    background: #3F8CC7;
    margin: 0;
    transform: skew(0, -3deg);
    padding-top: 10%;
    padding-bottom: 10%;
    margin-top: 10%;
}

#contenido-mayores-container {
    transform: skew(0, 3deg);
}

#contenido-mayores-title {
    font-size: 40px;
    font-weight: 900;
    line-height: 45px;
    text-align: start;
    word-wrap: break-word;
    text-align: center;
}



#contenido-mayores-list {
    font-size: 20px;
    line-height: 30px;
    text-align: start;
    line-height: 30px;
    margin-left: 7%;
    list-style: none;
}

#contenido-mayores-list li:before {
    content: '●';
}

/* Editorial */

#contenido-editorial {
    background: #216CB0;
    margin: 0;
    transform: skew(0, -3deg);
    padding-top: 10%;
    padding-bottom: 10%;
    margin-top: 10%;
}

#contenido-editorial-container {
    transform: skew(0, 3deg);
}

#contenido-editorial-title {
    font-size: 40px;
    font-weight: 900;
    line-height: 45px;
    text-align: start;
    word-wrap: break-word;
    text-align: center;
}



#contenido-editorial-list {
    font-size: 20px;
    line-height: 30px;
    text-align: start;
    line-height: 30px;
    margin-left: 7%;
    list-style: none;
}

#contenido-editorial-list li:before {
    content: '●';
}

@media screen and (max-width:965px) {
    #contenido-introduccion {
        height: 26em;
    }
}

@media screen and (max-width:800px) {
    .circleLeftPosition,
    .circleRightPosition,
    .arrowsRightPosition,
    .arrowsLeftPosition {
        display: none;
    
}
}

@media screen and (max-width:528px) {
    #contenido-introduccion {
        height: 32em;
    }
}

@media screen and (max-width:387px) {
    #contenido-introduccion {
        height: 36em;
    }
}

@media screen and (max-width:332px) {
    #contenido-introduccion {
        height: 40em;
    }
}

/* Vectores  */

.circleLeftPosition,
.circleRightPosition,
.arrowsRightPosition,
.arrowsLeftPosition {
    width: 140px;
}


.arrowsLeftPosition {
    margin-left: 30px;
}

.arrowsRightPosition {
    margin-right: 30px;
}